CREATE TABLE TBL_SYSTEM_SETTING (
    Id INT IDENTITY(1,1) PRIMARY KEY,
    SessionTimeoutInMinutes INT NOT NULL DEFAULT 30,
    CreatedAt DATETIME2 NOT NULL DEFAULT GETDATE(),
    UpdatedAt DATETIME2 NULL
);

INSERT INTO TBL_SYSTEM_SETTING (SessionTimeoutInMinutes) VALUES (15);
